pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.0.1
python-dateutil==2.8.2
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
streamlit==1.6.0
urllib3==1.26.8
validators==0.18.2
watchdog==2.1.6
wincertstore==0.2
xgboost==1.5.2
